<div class="container">	
  <div class="row center-align">  	  
    <h1><b>可愛いペット</b></h1>
    <h3>Everyone can upload pet's photo </h3>
    <a href="<%=new_photo_path%>">Submit a photo</a>
  </div>
  &nbsp;
  <%= render 'all_photo'%>
</div>