<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag @photo.image,size: "200x200" %>
</p>

<p>
  <strong>Album:</strong>
  <%= @photo.album_name %>
</p>



<%= link_to 'Edit', edit_photo_path(@photo) %> |

