/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
$bg-hover-dropdown-item: #c9c9c9;

body {
  margin: 0px;
  padding: 15px;
}
.center-align{
  text-align: center;
}

.header {
  height: 70px;
  padding: 15px 0px;
  .left-header {
    padding-left: 0px;
    .brand {
      padding-left: 0px !important;
      padding-right: 0px !important;
      a {
        line-height: 40px;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .search-box {
      position: relative;
      float: left;
      .search-input-box{
        height: 40px;
        padding-left: 40px;
        border-radius: 20px;
      }
      .glyphicon {
        position: absolute;
        font-size: 20px;
        left: 20px;
        width: 20px;
        text-align: center;
        padding: 10px 0;
        top: 1px
      }
    }
  }

  .right-header{
    padding-left: 0px !important;
    padding-right: 0px !important;
    ul.right-menu {
      list-style-type: none;
      padding-left: 0px;
      li {
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
      }
      .btn-submit-photo, .btn-login, .btn-signup {
        padding: 10px 20px;
        height: 40px;
      }
    }
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white !important;
}

.circle {
  border-radius: 100%;
}

.left-align {
  float: left;
}

.right-align {
  float: right;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.clear-float {
  clear: both;
}

.page-container {
  ul.main-photos {
    list-style-type: none;
    padding-left: 0px;
    li {
      margin-bottom: 20px;
      padding: 0px 15px 0px 0px;
    }
  }
  .image-box {
    position: relative;
    width: 100%;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      -webkit-transition: .2s all;
    }
    .image-info{
      display: none;
      .like-box {
        position: absolute;
        top: 5px;
        right: 80px;
        border-radius: 5px;
        padding: 5px;
        background-color: white;
        opacity: 0.6;
        .fa-heart {
          font-size: 20px;
          color: red;
        }
      }
      .comment-box {
        position: absolute;
        top: 5px;
        right: 10px;
        border-radius: 5px;
        padding: 5px;
        background-color: white;
        opacity: 0.6;
        .fa-comments-o {
          font-size: 20px;
        }
      }
      .user-box {
        position: absolute;
        left: 10px;
        bottom: 5px;
        img {
          width: 50px;
          height: 50px;
          border-radius: 100%;
        }
      }
      .download-box {
        position: absolute;
        bottom: 5px;
        right: 10px;
        border-radius: 5px;
        padding: 5px 15px;
        background-color: white;
        opacity: 0.6;
        .fa-download {
          font-size: 20px;
        }
      }
    }

    img:hover {
      -webkit-filter: brightness(50%);
      & ~ .image-info {
          display: block;
        }
      }
  }
}
.dropdown{
  cursor: pointer;
  ul.menu-post-actions {
    padding-left: 10px;
    li {
      border-bottom: 1px solid #d9d9d9;
      &:hover {
        background-color: $bg-hover-dropdown-item;
      }
      a {
        display: inline;
        padding: 0px;
        &:hover {
          background-color: $bg-hover-dropdown-item;
        }
      }
    }
  }
}

.date-select {
  display: inline-block;
  width: 30%;
}
ul.horizontal-menu {
  list-style-type: none;
  padding-left: 0px;
  li {
    padding-left: 0px;
    display: inline;
  }
}

.ul-basic {
  list-style-type: none;
  padding-left: 0px;
  li {
    padding-left: 0px;
  }
}